
.jfx-toggle-button
{
	-jfx-toggle-color: #007ACC;
	-jfx-untoggle-color: #BBBBBB;
	-jfx-size: 8;

	-fx-min-width: 30;
	-fx-min-height: 15;

	-fx-pref-width: 30;
	-fx-pref-height: 15;
}
.jfx-toggle-button:hover
{
	-jfx-untoggle-color: #FFFFFF;
}