/* DOCUMENT CSS */
@CHARSET "UTF-8";

/* CSS 에서는 폰트가 적용이 안돼서 JS 파일에서 적용시켜야 함 */
* {
	/* font-family: 'JetBrains Mono', 'D2Coding', monospace; */
	font-family: NanumGothic, 'JetBrains Mono', monospace;
}

html, body {
	height: 100%;
	margin: 0;
}
body {
	overflow-x: hidden;
	overflow-y: hidden;
}
#container {
	height: 100%;
}

/* .mtk1 {
	color: #7CDCFE; } */ /* TEXT COLOR */


/* .monaco-editor .lines-content.monaco-editor-background {
	margin-top: 4px;
} */