/* DOCUMENT CSS */
@CHARSET "UTF-8";

@font-face {
	font-family: 'Consolas';
	src: url('../fonts/consola.ttf');
}
/* @font-face {
	font-family: 'Consolas';
	src: url('../fonts/consola-bold.ttf');
} */
@font-face {
	font-family: 'D2Coding';
	src: url('../fonts/d2coding.ttf');
}
@font-face {
	font-family: 'D2Coding';
	font-weight: bold;
	src: url('../fonts/d2coding-bold.ttf');
}
@font-face {
	font-family: 'NanumGothic';
	src: url('../fonts/nanumgothic.ttf');
}
@font-face {
	font-family: 'NanumGothic';
	font-weight: bold;
	src: url('../fonts/nanumgothic-bold.ttf');
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto.ttf');
}
@font-face {
	font-family: 'Roboto';
	font-weight: bold;
	src: url('../fonts/roboto-bold.ttf');
}

* {
	font-family: Consolas, 'D2Coding', monospace;
}

html, body {
	background-color: white;
	height: 100%;
	margin: 0;
}
body {
	overflow-x: hidden;
	overflow-y: hidden;
}
#container {
	height: 100%;
}