
.root
{
    -fx-background-color: #1E1E1E;
}


.context-menu
{
	-fx-background-color: #3C3F41;
	-fx-border-color: #515151;
	-fx-border-width: 1;
}
.context-menu .separator *.line
{
	-fx-background-color: #515151;
	-fx-border-width: 0.3;
}

.menu-item
{
	-fx-padding: 3 10 3 10;
}
.menu-item *,
.menu-item .label *
{
	-fx-font-family: Roboto;
	-fx-font-size: 12;
}
.menu-item:focused
{
	-fx-background-color: #4B6EAF;
}
.menu-item:focused .label
{
	-fx-text-fill: #FFFFFF;
}

/* styled-text-area * */
.styled-text-area *
{
	-fx-font-family: D2Coding;
	-fx-font-size: 15;
}
.styled-text-area .caret
{
	-fx-stroke-width: 2;
	-fx-stroke: #ADAEAC;
}
.styled-text-area .paragraph-text
{
	/* -fx-padding: 2.5; */
}
.styled-text-area .paragraph-text .text
{
	-fx-fill: #D4D4D4;
}
.styled-text-area .paragraph-box .selection
{
	-fx-fill: #264E77;
}
.styled-text-area .paragraph-box:has-caret
{
	-fx-background-color: #262626;
}