
/*
* bg : background
* bd : border
* fn : font
* tx : text
*/

*
{
    -bg-base-color: #1E1E1E;
    -tx-base-color: #CCCCCC;
}

.root
{
    -fx-background-color: #1E1E1E;
}

.context-menu
{
    -fx-padding: 7 0 7 0;
	-fx-background-color: #252526;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 5);
}
.context-menu .separator
{
	-fx-background-insets: 4 10 4 10;
	-fx-background-color: #616162;
	-fx-padding: 4;
}

.menu-item
{
	-fx-padding: 5 25 5 25;
/* }
.menu-item *,
.menu-item .label *
{ */
	-fx-font-family: Roboto;
}
.menu-item .label *
{
	-fx-font-size: 13;
}
.menu-item:focused
{
	-fx-background-color: #094771;
}
.menu-item:focused .label
{
	-fx-text-fill: #FFFFFF;
}