
.root
{
    -fx-background-color: #1E1E1E;
}

.button,
.check-box .box,
.combo-box
{
    -fx-background-color: #3C3C3C;
    -fx-border-color: transparent;
	-fx-border-width: 1;
}

.button:focused,
.check-box:focused .box,
.combo-box:focused .box
{
    -fx-border-color: #175B89;
}

.check-box .box
{
	-fx-padding: 2;
}
.check-box .mark
{
	-fx-padding: 6;
}
.check-box:selected .mark
{
	-fx-background-color: #FFFFFF;
	-fx-shape: "M14.4315 3.32315L5.96154 13.3232L5.17083 13.2874L1.82083 8.51736L2.63918 7.94263L5.617 12.1827L13.6685 2.67683L14.4315 3.32315Z";
}

.combo-box
{
    -fx-padding: 6;
}
.combo-box-base .arrow
{
	-fx-background-color: #FFFFFF;
    -fx-padding: 3 5 3 5;
    -fx-rotate: 180;
    -fx-shape: "m9.48046,8.9615l1.26,-1.26l-5.04,-5.04l-5.46,5.04l1.26,1.26l4.2,-3.78l3.78,3.78z";
}

.context-menu
{
	-fx-background-color: #252526;
}
.context-menu .separator *.line
{
	-fx-background-insets: 0 5 0 5;
	-fx-background-color: #616162;
	-fx-border-width: 0.3;
}

.menu-item
{
	-fx-padding: 3 10 3 10;
}
.menu-item *,
.menu-item .label *
{ */
	-fx-font-family: Roboto;
	-fx-font-size: 12;
}
.menu-item:focused
{
	-fx-background-color: #4B6EAF;
}
.menu-item:focused .label
{
	-fx-text-fill: #FFFFFF;
}

/* styled-text-area * */
.styled-text-area *
{
	-fx-font-family: D2Coding;
	-fx-font-size: 15;
}
.styled-text-area .caret
{
	-fx-stroke-width: 2;
	-fx-stroke: #ADAEAC;
}
.styled-text-area .paragraph-text
{
	/* -fx-padding: 2.5; */
}
.styled-text-area .paragraph-text .text
{
	-fx-fill: #D4D4D4;
}
.styled-text-area .paragraph-box .selection
{
	-fx-fill: #264E77;
}
.styled-text-area .paragraph-box:has-caret
{
	-fx-background-color: #262626;
}