
/*
* bg : background
* bd : border
* fn : font
* tx : text
*/

*
{
	-fx-text-fill: #CCCCCC;
}

.root
{

}

/* .tab,
.tab-label,
.text,
.label,
.button,
.text-area,
.text-field
{
	-fx-text-fill: #CCCCCC;
} */

.context-menu
{
	-fx-background-color: #252526;
	-fx-border-color: #434344;
	-fx-border-width: 1;
	-fx-padding: 2;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 5);
}
.context-menu .separator
{
    -fx-background-insets: 2 0 3 0;
	-fx-background-color: #434344;
	-fx-padding: 3;
}

.menu-item
{
	-fx-padding: 4 15 4 15;
}
.menu-item .label *
{
	-fx-font-family: 'Roboto Medium';
	-fx-font-size: 13;
}
.menu-item:focused
{
	-fx-background-color: #094771;
}
.menu-item:focused .label
{
	-fx-text-fill: #FFFFFF;
}

.check-box
{
	-fx-label-padding: 0 0 0 8;
}
.check-box .box
{
	-fx-background-color: #3F3F46;
	-fx-padding: 2;
}
.check-box .mark
{
	-fx-padding: 6;
}
.check-box:selected .mark
{
	-fx-background-color: #FFFFFF;
}

.split-pane-divider
{
	-fx-background-color: #3C3C3C;
	-fx-padding: 0 1 0 1;
}

.slider .axis
{
	-fx-tick-label-font-size: 10;
}
.slider .track
{
	-fx-background-color: #6B6B6B;
}
.slider .thumb
{
	-fx-background-color: #4B6EAF;
}
.slider:focused .thumb
{
	-fx-background-color: #557BC2;
}

.jfx-toggle-button
{
	-jfx-toggle-color: #007ACC;
	-jfx-untoggle-color: #BBBBBB;
	-jfx-size: 8;
}
.jfx-toggle-button:hover
{
	-jfx-untoggle-color: #FFFFFF;
}

.ifx-check-box .box
{
	-fx-border-color: #555555;
	-fx-border-width: 1;
}
.ifx-check-box:focused .box
{
	-fx-border-color: #007ACC;
}

.ifx-text-area,
.ifx-text-field
{
	-fx-background-color: #3F3F46;
	-fx-border-color: #555555;
	-fx-border-width: 1;
	-fx-padding: 4;
}
.ifx-text-field:focused
{
	-fx-border-color: #007ACC;
}

.ifx-button
{
	-fx-background-color: #3F3F46;
	-fx-border-color: #555555;
	-fx-border-width: 1;
}
.ifx-button:hover
{
	-fx-border-color: #0097FB;
}
.ifx-button:focused
{
	-fx-border-color: #007ACC;
}
.ifx-button:armed
{
	-fx-background-color: #007ACC;
}

.ifx-button-default
{
	-fx-border-color: #555555;
}
.ifx-button-action
{
	-fx-border-color: #007ACC;
}

.ifx-menu-button
{

}
.ifx-menu-button:hover,
.ifx-menu-button:showing
{
	-fx-background-color: #474748;
}

.ifx-log-view { }
.ifx-log-view .list-cell:selected .ifx-log-item
{
	-fx-background-color: #0D293E;
}

.ifx-log-item
{
	-fx-background-insets: 5 10 5 10;
	-fx-background-color: #2B2B2B;
}
.ifx-log-item .event
{

}
.ifx-log-item .error
{
	-fx-text-fill: #FF0000;
}
.ifx-log-item .debug
{

}

.ifx-code-area,
.ifx-code-area .lineno
{
	-fx-background-color: #1E1E1E;
}
.ifx-code-area .lineno,
.ifx-code-area .paragraph-text
{
	-fx-font-family: Consolas;
	-fx-font-size: 15;
}
.ifx-code-area .caret
{
	-fx-stroke: #AEAFAD;
}
.ifx-code-area .lineno
{
	-fx-border-color: transparent;
	-fx-border-width: 0 0 0 3;
	-fx-pref-width: 70;
	-fx-padding: 4 12 4 0;
	-fx-cursor: default;
}
.ifx-code-area .lineno .text
{
	-fx-fill: #858585;
}
.ifx-code-area .paragraph-text
{
	-fx-padding: 4 0 4 0;
}
.ifx-code-area .paragraph-box .selection
{
	-fx-fill: #264E77;
}
.ifx-code-area .paragraph-box:has-caret,
.ifx-code-area .paragraph-box:has-caret .lineno
{
	-fx-background-color: #262626;
}
.ifx-code-area .paragraph-box:has-caret .lineno
{
	-fx-border-color: #007ACC;
}
.ifx-code-area .paragraph-box:has-caret .lineno .text
{
	-fx-fill: #A4A3A3;
}
.ifx-code-area .paragraph-text .text
{
    /* -fx-fill: #9CDCF2; */
	-fx-fill: #D4D4D4;
}
.ifx-code-area .paragraph-text .text.keyword { -fx-fill: #499CD5; }
.ifx-code-area .paragraph-text .text.semicolon { }
.ifx-code-area .paragraph-text .text.paren { }
.ifx-code-area .paragraph-text .text.bracket { }
.ifx-code-area .paragraph-text .text.brace { }
.ifx-code-area .paragraph-text .text.string { -fx-fill: #CE9178; }
.ifx-code-area .paragraph-text .text.comment { -fx-fill: #6A9955; }
/* .ifx-code-area .paragraph-text .text.parameter { -fx-fill: #729DB3; } */

.ifx-tab .tab-close-button:hover .glyph,
.ifx-tab:selected .tab-close-button .glyph
{
	-fx-background-color: #FFFFFF;
}
.ifx-tab:selected .tab-header-label
{
	-fx-text-fill: #FFFFFF;
}