
*
{
	-fx-font-family: 'Roboto Medium';
	-fx-font-size: 12;
}

.tab,
.button,
.toggle-button
{
	-fx-cursor: hand;
}

.button,
.toggle-button
{
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-alignment: center;
}

.button:disabled
{
    -fx-opacity: 0.5;
    -fx-cursor: default;
}

.text-area,
.text-field
{
	-fx-padding: 4;
	-fx-cursor: text;
}

.check-box .box
{
	-fx-padding: 2;
}
.check-box .mark
{
	-fx-padding: 6;
}
.check-box:selected .mark
{
	-fx-background-color: #FFFFFF;
	-fx-shape: "M14.4315 3.32315L5.96154 13.3232L5.17083 13.2874L1.82083 8.51736L2.63918 7.94263L5.617 12.1827L13.6685 2.67683L14.4315 3.32315Z";
}

.tab-pane
{
	-fx-open-tab-animation: NONE;
	-fx-close-tab-animation: NONE;
}

.context-menu
{
	-fx-padding: 7 0 7 0;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 5);
}
.context-menu .separator
{
	-fx-background-insets: 4 5 4 5;
	-fx-padding: 4.1;
}

.menu-item
{
	-fx-padding: 5 25 5 25;
}
.menu-item .label *
{
	-fx-font-size: 13;
}

.scroll-bar
{
	-fx-cursor: default;
	-fx-skin: 'org.beuwi.simulator.platform.ui.skins.IScrollBarSkin';
}
.scroll-bar .track
{
	-fx-opacity: 0;
}
.scroll-bar .track-background
{
	-fx-opacity: 0;
}
.scroll-bar .thumb
{
	-fx-fill: rgba(100, 100, 100, 0.3);
}
.scroll-bar .thumb:hover
{
	-fx-fill: rgba(100, 100, 100, 0.5);
}
.scroll-bar .thumb:pressed
{
	-fx-fill: rgba(100, 100, 100, 0.7);
}

/* .text-area .scroll-bar
{
	-fx-skin: '';
}
.text-area .scroll-bar:vertical
{
	-fx-pref-width: 7;
	-fx-padding: -5 -5 -12 0;
}
.text-area .scroll-bar:horizontal
{
	-fx-pref-height: 7;
	-fx-padding: 0 0 -5 -5;
}
.text-area .scroll-bar .thumb
{
	-fx-background-color: rgba(100, 100, 100, 0.3);
	-fx-background-insets: 0;
	-fx-background-radius: 0;
}
.text-area .scroll-bar .thumb:hover
{
	-fx-background-color: rgba(100, 100, 100, 0.5);
}
.text-area .scroll-bar .thumb:pressed
{
	-fx-background-color: rgba(100, 100, 100, 0.7);
} */