
*
{
	-fx-font-family: 'Roboto Medium';
	-fx-font-size: 12;
}

.tab-pane
{
	-fx-open-tab-animation: NONE;
	-fx-close-tab-animation: NONE;
}

.button,
.toggle-button
{
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-alignment: center;
}

.context-menu
{
	-fx-padding: 7 0 7 0;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 5);
}
.context-menu .separator
{
	-fx-background-insets: 4 10 4 10;
	-fx-padding: 4;
}

.menu-item
{
	-fx-padding: 5 25 5 25;
}
.menu-item .label *
{
	-fx-font-size: 13;
}