@font-face {
    font-family: 'D2Coding';
    src: url('../../font/d2coding.ttf');
}
@font-face {
    font-family: 'D2Coding';
    font-weight: bold;
    src: url('../../font/d2coding-bold.ttf');
}
@font-face {
    font-family: 'NanumGothic';
    src: url('../../font/nanumgothic.ttf');
}
@font-face {
    font-family: 'NanumGothic';
    font-weight: bold;
    src: url('../../font/nanumgothic-bold.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('../../font/roboto.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-weight: bold;
    src: url('../../font/roboto-bold.ttf');
}

* {
    font-family: 'Roboto', 'NanumGothic', sans-serif;
    font-weight: normal;
}

h1 {
	font-weight: bold;
}
h2 {
	font-weight: normal;
}
h3 {
	font-weight: normal;
}
h4 {
	font-weight: normal;
}

p {
	line-height: normal;
}
body {
	/* 가운데에 배치되도록 */
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	min-width: 500px;
	min-height: 200px;
	max-width: 800px;
	max-height: 1000px;
}

a:link {
    text-decoration: none;
}
a:visited,
a:active {
	text-decoration: none;
}