.activity-bar
{
    -fx-background-color: #3C3C3C;
}

.toggle-button
{
	-fx-background-size: 20;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 0 4.5;
}
.toggle-button:selected
{
   -fx-background-color: #252526;
   -fx-border-color: #007ACC;
}

.explorer-tab
{
	-fx-background-image: url('../images/explorer.png');
}
.explorer-tab:hover,
.explorer-tab:selected
{
	-fx-background-image: url('../images/explorer_focused.png');
}

.debug-tab
{
	-fx-background-image: url('../images/simulation.png');
}
.debug-tab:hover,
.debug-tab:selected
{
	-fx-background-image: url('../images/simulation_focused.png');
}