
.tool-bar
{
	-fx-background-color: #3C3C3C;
}

.button
{
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-cursor: default;
}

.menu-bar
{

}
.menu-bar .button:hover,
.menu-bar .button:showing
{
	-fx-background-color: #474748;
	-fx-text-fill: #FFFFFF;
}

.button-bar
{

}