/* 숫자는 구분하기 위한 용도로 의미 X */
.root {
	black-0: #000000;
	black-1: #1e1e1e;
	white-0: #ffffff;
	white-1: #cccccc;
	white-2: #bababa;
	white-3: #dedede;
	white-4: #e8eaed;
	white-5: #f3f3f3;
	white-6: #dddddd;
	red-0: #ff0000;
	red-1: #ff3333;
	red-2: #d61425;
	blue-0: #007acc;
	blue-1: #062f4a;
	blue-2: #0d293e;
	blue-3: #2a2d2e;
	blue-4: #0583F9;
	blue-5: #094771;
	blue-6: #0000FF;
	gray-0: #252526;
	gray-1: #414141;
	gray-2: #555555;
	gray-4: #3a3a3a;
	gray-5: #323233;
	gray-7: #302f35;
	gray-8: #888888;
	gray-9: #8c8c8c;
	purple-1: #68217a;
	orange-0: #eb6100;
	trans-0: rgba(255, 255, 255, 0.1);
	trans-1: rgba(100, 100, 100, 0.4);
	trans-2: rgba(100, 100, 100, 0.5);
	trans-3: rgba(100, 100, 100, 0.6);
	trans-4: rgba(255, 255, 255, 0.2);
}
.root {
	-fx-font-family: 'NanumGothic';
	-fx-font-size: 12;
}

/* FONT LABEL */
.bold {
	-fx-font-weight: bold;
}
/* FONT SIZE */
.h1 { -fx-font-size: 25; }
.h2 { -fx-font-size: 20; }
.h3 { -fx-font-size: 18; }
.h4 { -fx-font-size: 15; }
.h5 { -fx-font-size: 12; }

/* FONT SMOOTHING TYPE */
.text {
	-fx-font-smoothing-type: lcd;
}
.web-view {
	/* -fx-font-smoothing-type: lcd; */
	-fx-context-menu-enabled: true;
}

/* Alignment */
/* .button, .label {
	-fx-alignment: center;
} */

/* IMAGE */
.button, .toggle-button {
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-alignment: center;
}

.icon {
	-fx-background-color: #8c8c8c;
}

/* DISABLED */
.label:disabled,
.button:disabled,
.check-box:disabled,
.menu-item:disabled,
.toggle-button:disabled {
	-fx-opacity: 0.5;
	/* -fx-cursor: default; */
}

/* SHAPE */
.check-box:selected .mark {
	-fx-shape: "M14.4315 3.32315L5.96154 13.3232L5.17083 13.2874L1.82083 8.51736L2.63918 7.94263L5.617 12.1827L13.6685 2.67683L14.4315 3.32315Z";
}
.combo-box .arrow {
	-fx-shape: "M928.4,224.4L500,651.6L71.6,224.4L10,285.9l490,489.7l490-489.7L928.4,224.4z";
}

/* SKIN */
.scroll-bar {
	-fx-skin: 'org.beuwi.msgbots.platform.program.gui.skin.ScrollBarSkin';
}

/* CURSOR */
.scroll-bar {
	-fx-cursor: default;
}
.text-area,
.text-field {
	-fx-cursor: text;
}

/* BOT ITEM */
.bot-item {
    -fx-cursor: hand;
}
.bot-item > .label {
	/* -fx-font-size: 12; */
}
.bot-item .button {
	-fx-background-radius: 15;
}
.bot-item .check-box .box {
	-fx-background-radius: 10;
	-fx-padding: 3;
}
.bot-item .check-box .mark {
	-fx-padding: 0;
}
.bot-item .check-box:disabled {
	-fx-opacity: 1.0;
}
.bot-item:hover,
.bot-item:selected {
	-fx-opacity: 1.0;
}

/* CHAT ITEM */
.chat-item .comment-box {
}
.chat-item .comment-label,
.chat-item .view-button {
	-fx-padding: 8;
}
.chat-item .comment-label {
	/* -fx-font-family: 'D2Coding'; */
	/* -fx-font-size: 14; */
}

/* CHAT VIEW */
.chat-view .list-cell {
	-fx-padding: 12 10 12 10;
}

/* CHECK BOX */
.check-box {
	-fx-label-padding: 0 0 0 8;
}
.check-box .box {
	-fx-padding: 2;
}
.check-box .mark {
	-fx-padding: 6;
}

/* COMBO BOX */
.combo-box {
	-fx-padding: 4;
}
.combo-box .arrow {
	-fx-padding: 4 6 4 6;
}
.combo-box .arrow-button {
	-fx-padding: 0 5 0 5;
}

/* COMBO BOX POPUP */
.combo-box-popup .list-view {
	-fx-padding: 5 0 5 0;
}
.combo-box-popup .list-view .list-cell {
	-fx-padding: 5;
}

/* CONTEXT MENU */
.context-menu {
	-fx-padding: 5 0 5 0;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 5);
}
.context-menu .separator .line {
	-fx-background-insets: 5 0 5 0;
	-fx-padding: 5.5 0 5.5 0;
}

/* MENU ITEM */
.menu-item {
	-fx-padding: 5 20 5 20;
}

/* MENU BUTTON */
.menu-button {
	-fx-padding: 0 5 0 5;
}

/* LOG ITEM */
.log-item > .label {
	-fx-padding: 0 5 0 5;
}

/* LOG VIEW */
.log-view {
	-fx-padding: 2.5 0 2.5 0;
}
.log-view .list-cell {
	-fx-padding: 2.5 5 2.5 5;
}

/* OPTION ITEM */
/* .option-item {
	-fx-padding: 0 0 0 5;
} */

/* PROGRESS BAR */
.progress-bar .bar {
	-fx-padding: 1;
	-fx-background-insets: 0;
}

/* SEPARATOR */
.separator .line {
	-fx-padding: 0.5 0 0.5 0;
}

/* SLIDER */
.slider .track {
    -fx-padding: 1 0 1 0;
}
.slider .thumb {
    -fx-background-radius: 5;
    -fx-padding: 10 3 10 3;
}
/* .slider .thumb:focused {
    -fx-background-color: blue-6;
} */

/* TEXT BOX */
.text-area,
.text-field {
	/* -fx-font-family: 'D2Coding'; */
	/* -fx-font-size: 14; */
	-fx-cursor: text;
}
.text-area .content {
	-fx-padding: 4;
}
.text-field {
	-fx-padding: 4;
}

/* TOAST ITEM */
.toast-item {
	-fx-cursor: hand;
}
.toast-item .title-label,
.toast-item .text-label {
    /* -fx-font-size: 14; */
}

/* TOOLTIP */
.tooltip {
	-fx-padding: 10;
}

/* TOAST VIEW */
/* .toast-view {
    -fx-padding: 2.5 0 2.5 0;
}
.toast-view .list-cell {
    -fx-padding: 2.5 5 2.5 5;
} */

/* TOGGlE BUTTON */
.toggle-button {
	/* -fx-opacity: 0.5; */
	-fx-cursor: hand;
}
/* .toggle-button:selected {
	-fx-opacity: 1.0;
} */

/* TOOL AREA */
.tool-area .tab-item {
    -fx-cursor: hand;
}

.debug-pane .tool-bar {

}