@import "base.css";

* {
	-fx-text-fill: white-0;
}

/* TEXT RENDERING */
.text {
	/* -fx-font-smoothing-type: gray; */
}

/* ROOT */
.root {
	-fx-background-color: black-1;
}

/* ICON */
.icon {
	-fx-background-color: gray-9;
}
.label:hover .icon,
.button:hover .icon,
.check-box:hover .icon,
.menu-item:hover .icon,
.toggle-button:hover .icon {
	-fx-background-color: white-0;
}
.button:armed .icon {
	-fx-background-color: white-0;
}
.toggle-button:selected .icon {
	-fx-background-color: white-0;
}
/* .label:focused .icon,
.button:focused .icon,
.check-box:focused .icon,
.menu-item:focused .icon,
.toggle-button:focused .icon {
	-fx-background-color: white-0;
} */

/* WINDOW BOX */
.window-box {
	-fx-background-color: black-1;
	-fx-border-color: transparent;
	-fx-border-width: 1;
}
.window-box:focused {
	-fx-border-color: blue-0;
}
.window-box .title-bar > .button:hover {
	-fx-background-color: red-2;
}

/* DIALOG BOX */
.dialog-box {
	-fx-background-color: gray-0;
}

/* BOT ITEM */
.bot-item {
	-fx-border-color: transparent;
	-fx-border-width: 0 3 0 3;
}
.bot-item > .label {
	-fx-text-fill: white-2;
}
/* .bot-item .button {
	-fx-background-color: transparent;
} */
.bot-item > .check-box .box {
	-fx-background-color: white-0;
	-fx-border-width: 0;
}
.bot-item > .check-box:selected .box {
	-fx-background-color: blue-0;
}
.bot-item:hover,
.bot-item:selected {
	-fx-border-color: transparent transparent transparent blue-0;
}
.bot-item:hover > .label,
.bot-item:selected > .label {
	-fx-text-fill: white-0;
}

/* BUTTON */
/* .button:hover {
	-fx-background-color: gray-4;
} */

/* STYLED BUTTON */
.button:styled {
	-fx-border-color: transparent;
	-fx-border-width: 1;
}
.button:styled:action {
	-fx-border-color: blue-0;
}
.button:styled:cancel {
	-fx-border-color: gray-2;
}
.button:styled:armed {
	-fx-background-color: blue-0;
}

/* CHAT ITEM */
.chat-item .separator .line {
	-fx-background-color: white-0;
}
.chat-item:human > .content > .comment-box {
	-fx-background-color: blue-4;
}
.chat-item:bot > .content > .comment-box {
	-fx-background-color: gray-7;
}
.chat-item:selected > .content > .comment-box {
    -fx-background-color: blue-5;
}

/* CHAT AREA */
.chat-area .text-area {
	-fx-background-color: gray-0;
	-fx-border-width: 0;
}

/* CHECK BOX */
.check-box > .box {
	-fx-border-color: gray-2;
	-fx-border-width: 1;
}
.check-box:hover > .box,
.check-box:focused > .box {
	-fx-border-color: blue-0;
}
.check-box:selected > .box > .mark {
	-fx-background-color: white-0;
}

/* COMBO BOX */
.combo-box {
	-fx-border-color: gray-2;
	-fx-border-width: 1;
}
.combo-box:hover,
.combo-box:focused {
	-fx-border-color: blue-0;
}
.combo-box .arrow {
	-fx-background-color: gray-2;
}
.combo-box:hover .arrow,
.combo-box:focused .arrow,
.combo-box:showing .arrow {
	-fx-background-color: white-0;
}

/* COMBO BOX POPUP */
.combo-box-popup .list-view {
	-fx-background-color: gray-0;
	-fx-border-color: blue-0;
	-fx-border-width: 0 1 1 1;
}
.combo-box-popup .list-view .list-cell:hover {
	-fx-background-color: blue-1;
}

/* CONTEXT MENU */
.context-menu {
	-fx-background-color: white-0;
	-fx-border-color: white-2;
	-fx-border-width: 1;
}
.context-menu .separator .line {
	-fx-background-color: white-2;
}

/* DEBUG PANE */
.debug-pane .editor {
	-fx-border-width: 0;
}
.debug-pane .tab-view {
}
.debug-pane .tab-view > .header-area {
	-fx-background-color: transparent;
}
.debug-pane .tab-item {
	-fx-background-color: transparent;
	-fx-border-width: 0;
	-fx-cursor: hand;
}
.debug-pane .chat-area {
}

/* EDITOR */
.editor {
	-fx-background-color: black-1;
	-fx-border-color: gray-2;
	-fx-border-width: 1;
}
.editor:hover,
.editor:focused {
	-fx-border-color: blue-0;
}

/* MENU ITEM */
.menu-item .label {
	-fx-text-fill: black-0;
}
.menu-item:focused {
	-fx-background-color: white-4;
}

/* MENU BAR */
.menu-bar {
	-fx-background-color: white-0;
}
.menu-bar > .button {
	-fx-text-fill: black-0;
}
.menu-bar > .button:hover,
.menu-bar > .button:showing {
	-fx-background-color: white-3;
}

/* LOG ITEM */
.log-item {
	-fx-background-color: gray-0;
	-fx-border-color: transparent;
	-fx-border-width: 0 0 0 2;
	-fx-cursor: hand;
}
.log-item:hover {
	-fx-background-color: blue-3;
}
.log-item:selected {
	-fx-background-color: blue-1;
}
.log-item > .date-label {
	-fx-background-color: gray-1;
}
.log-item:info {
	-fx-border-color: blue-0;
}
.log-item:error {
	-fx-border-color: red-1;
}
.log-item:debug {
	-fx-border-color: orange-0;
}

/* CONFIG ITEM */
/* .config-item {
	-fx-border-color: transparent;
	-fx-border-width: 0 0 0 2;
}
.config-item:hover {
	-fx-border-color: blue-0;
} */
/* .config-item .text {
	/* JavaFX 버그 때문에 LCD로 회색 표시하면 글씨가 흐리게보여서 GRAY로 대체 */
	/* -fx-font-smoothing-type: gray;
} */
.config-item .label,
.config-item .check-box {
	-fx-text-fill: white-2;
}
.config-item .title-label {
	-fx-text-fill: white-0;
}

/* RESIZE BAR */
.resize-bar {
	-fx-border-color: gray-1;
	-fx-border-width: 0 0 0 0;
}
.resize-bar:top { -fx-border-width: 1 0 0 0; }
.resize-bar:right { -fx-border-width: 0 1 0 0; }
.resize-bar:bottom { -fx-border-width: 0 0 1 0; }
.resize-bar:left { -fx-border-width: 0 0 0 1; }
.resize-bar:drag {
	-fx-border-color: blue-0;
}

/* SCROLL BAR */
.scroll-bar > .thumb {
	-fx-background-color: trans-1;
}
.scroll-bar > .thumb:hover {
	-fx-background-color: trans-2;
}
.scroll-bar > .thumb:pressed {
	-fx-background-color: trans-3;
}

/* SEPARATOR */
.separator .line {
	-fx-background-color: gray-8;
}

/* SHADOW PANE */
.shadow-pane {
	-fx-background-color: transparent;
}
.shadow-pane .content-area {
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 1);
}

/* SLIDER */
.slider > .label {
	-fx-text-fill: white-0;
}
.slider > .track {
	-fx-background-color: gray-2;
}
.slider > .thumb {
	-fx-background-color: blue-0;
}

/* SPLIT PANE */
.split-pane > .divider {
	-fx-background-color: gray-1;
}
.split-pane > .divider:drag {
	-fx-background-color: blue-0;
}
/* .split-pane:horizontal > .left-pane {
	-fx-border-width: 0 1 0 0;
}
.split-pane:vertical > .divider {
	-fx-border-width: 0 0 1 0;
} */

/* TAB ITEM */
.tab-item {
	-fx-border-color: transparent;
	-fx-border-width: 0 0 1 0;
	/* -fx-cursor: hand; */
}
.tab-item > .header > .text-label {
	-fx-text-fill: white-2;
}
/* .tab-item > .close-button {
	-fx-background-color: transparent;
} */
.tab-item:selected {
	-fx-background-color: black-1;
	-fx-border-color: blue-0;
}
.tab-item:hover > .header > .text-label,
.tab-item:selected > .header > .text-label {
	-fx-text-fill: white-0;
}

/* TAB VIEW */
.tab-view {
	-fx-background-color: black-1;
}
.tab-view > .header-area {
	-fx-background-color: gray-0;
}
.tab-view > .content-area {
	-fx-background-color: black-1;
}

/* TOOLTIP */
.tooltip {
	-fx-background-color: gray-0;
	-fx-border-color: gray-2;
	-fx-border-width: 1;
}

/* NAVI ITEM */
.navi-item {
	-fx-border-width: 0;
}
.navi-item:selected {
	-fx-background-color: blue-2;
}
.navi-item > .header > .text-label {
	-fx-text-fill: white-2;
}
.navi-item:hover > .header > .text-label,
.navi-item:selected > .header > .text-label {
	-fx-text-fill: white-0;
}

/* NAVI VIEW */
.navi-view {
	-fx-background-color: black-1;
}
.navi-view > .header-area {
	-fx-background-color: gray-0;
}
.navi-view > .content-area {
	-fx-background-color: black-1;
}

/* TEXT AREA */
.text-area {
	-fx-border-color: gray-2;
	-fx-border-width: 1;
}
.text-area:hover,
.text-field:hover {
	-fx-border-color: blue-0;
}

/* TEXT FIELD */
.text-field {
	-fx-border-color: gray-2;
	-fx-border-width: 1;
}
.text-area:focused,
.text-field:focused {
	-fx-border-color: blue-0;
}

/* TOAST ITEM */
.toast-item {
	-fx-background-color: gray-0;
}
/* .toast-item > .title-bar > .button > .icon {
	-fx-background-color: white-0;
} */
.toast-item:hover {
	-fx-background-color: blue-3;
}
.toast-item:selected {
	-fx-background-color: blue-1;
}

/* TOAST AREA */
.toast-area .toast-box {
	-fx-background-color: gray-5;
}

/* SIDE AREA */
.side-area {
}
.side-area .tab-item {
	-fx-background-color: gray-0;
	-fx-border-color: transparent;
}
.side-area .tab-view .header-area {
}
.side-area .tab-view .content-area {
	-fx-background-color: gray-0;
}

/* DEBUG AREA */
.debug-area {
	-fx-border-width: 0 0 0 1;
	-fx-border-color: gray-1;
}
.debug-area .tab-item {
	-fx-border-color: transparent;
}

/* MAIN AREA */
/* .main-area {
	-fx-background-color: black-1;
} */

/* TOOL AREA */
/* .tool-area {
	-fx-background-color: black-1;
} */
.tool-area .tab-item {
	-fx-border-width: 0;
}
.tool-area .tab-item > .header > .text-label {
	-fx-border-color: transparent;
	-fx-border-width: 0 0 1 0;
}
.tool-area .tab-item:selected > .header > .text-label {
	-fx-border-color: white-0;
}
.tool-area .tab-view > .header-area {
	-fx-background-color: black-1;
}
.tool-area .editor,
.tool-area .text-area {
	 -fx-border-width: 0;
}
.tool-area .text-area .content {
	-fx-padding: 0;
}

/* STATUS BAR */
.status-bar {
	-fx-background-color: blue-0;
}
.status-bar:mdb {
	-fx-background-color: purple-1;
}