@import "base.css";

* {
	-fx-text-fill: #000000;
}

/* COLOR LABEL */
.white {
	-fx-text-fill: #FFFFFF;
}
.gray {
	-fx-text-fill: #555555;
}
.black {
	-fx-text-fill: #000000;
}

/* TEXT RENDERING */
.text {
	-fx-font-smoothing-type: gray;
}

/* WINDOW */
.root {
	-fx-background-color: #FFFFFF;
}

/* BOT ITEM */
.bot-item {
	-fx-border-color: transparent;
	-fx-border-width: 0 3 0 3;
}
.bot-item > .button:hover {
	-fx-background-color: rgba(0, 0, 0, 0.1);
}
.bot-item > .button:armed {
	-fx-background-color: rgba(0, 0, 0, 0.2);
}
.bot-item > .button .icon {
	-fx-background-color: #000000;
}
.bot-item > .check-box .box {
	/* -fx-background-color: #FF3333; */
	-fx-background-color: #000000;
	-fx-border-width: 0;
}
.bot-item > .check-box:selected .box {
	-fx-background-color: #007ACC;
}
.bot-item:hover,
.bot-item:selected {
	/* -fx-background-color: rgba(0, 0, 0, 0.1); */
	-fx-border-color: transparent transparent transparent #007ACC;
}

/* BUTTON */
.button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

/* STYLED BUTTON */
.button:styled {
	-fx-border-color: transparent;
	-fx-border-width: 1;
}
.button:styled.action {
	-fx-border-color: #007ACC;
}
.button:styled.cancel {
	-fx-border-color: #555555;
}
/* .button:styled:hover,
.button:styled:focused {
	-fx-border-color: #007ACC;
} */
.button:styled:armed {
	-fx-background-color: #007ACC;
}

/* CHAT ITEM */
.chat-item .separator .line {
	-fx-background-color: #FFFFFF;
}
.chat-item .comment-label,
.chat-item .view-button {
	-fx-text-fill: #FFFFFF;
}
.chat-item.human .comment-box {
	-fx-background-color: #0583F9;
}
.chat-item.bot .comment-box {
	-fx-background-color: #302F35;
}
.chat-item:selected .comment-box {
    -fx-background-color: #094771;
}

/* CHECK BOX */
.check-box > .box {
	-fx-border-color: #555555;
	-fx-border-width: 1;
}
.check-box:hover > .box,
.check-box:focused > .box {
	-fx-border-color: #007ACC;
}
.check-box:selected > .box > .mark {
	-fx-background-color: #000000;
}

/* COMBO BOX */
.combo-box {
	-fx-border-color: #555555;
	-fx-border-width: 1;
}
.combo-box:hover,
.combo-box:focused {
	-fx-border-color: #007ACC;
}
.combo-box .arrow {
	-fx-background-color: #555555;
}
.combo-box:hover .arrow,
.combo-box:focused .arrow,
.combo-box:showing .arrow {
	-fx-background-color: #007ACC;
}

/* COMBO BOX POPUP */
.combo-box-popup .list-view {
	-fx-background-color: #FFFFFF;
	-fx-border-color: #007ACC;
	-fx-border-width: 0 1 1 1;
}
.combo-box-popup .list-view .list-cell:hover {
	-fx-background-color: #A6CFFF;
}

/* CONTEXT MENU */
.context-menu {
	-fx-background-color: #FFFFFF;
	-fx-border-color: #BABABA;
	-fx-border-width: 1;
}
.context-menu .separator .line {
	-fx-background-color: #BABABA;
}

/* DIALOG BOX */
.dialog-box {
	-fx-background-color: #FFFFFF;
	-fx-border-color: transparent;
	-fx-border-width: 1;
}
.dialog-box:focused {
	-fx-border-color: #007ACC;
}
.dialog-box .title-bar .button:hover {
	-fx-background-color: #007ACC;
}
.dialog-box .title-bar .button .icon {
	-fx-background-color: #000000;
}
.dialog-box .title-bar .button:hover .icon {
	-fx-background-color: #FFFFFF;
}

/* EDITOR */
.editor {
	-fx-background-color: #1E1E1E;
	-fx-border-color: #555555;
	-fx-border-width: 1;
}
.editor:hover,
.editor:focused {
	-fx-border-color: #007ACC;
}

/* KEYMAP BOX */
.keymap-box {
	-fx-border-width: 1;
	-fx-border-color: #007ACC;
}
/* .keymap-box .name-label {
	-fx-border-width: 0 0 0 2;
	-fx-border-color: #000000;
} */
.keymap-box .key-label {
	-fx-background-color: #CCCCCC;
}

/* MENU ITEM */
.menu-item .label {
	-fx-text-fill: #000000;
}
.menu-item:focused {
	-fx-background-color: #E8EAED;
}

/* MENU BAR */
.menu-bar {
	-fx-background-color: #FFFFFF;
	/* -fx-border-color: #000000;
	-fx-border-width: 0 0 1 0; */
}
.menu-bar > .button {
	-fx-text-fill: #000000;
}
.menu-bar > .button:hover,
.menu-bar > .button:showing {
	-fx-background-color: #DEDEDE;
}

/* LOG ITEM */
.log-item {
	/* -fx-background-color: #F3F3F3; */
	-fx-background-color: #FFFFFF;
	/* -fx-background-radius: 5; */
	-fx-border-width: 1;
}
.log-item:hover,
.log-item:selected {
    -fx-background-color: #A6CFFF;
}
.log-item.event {
    -fx-border-color: "#007ACC";
}
.log-item.error {
    -fx-border-color: "#FF3333";
}
.log-item.debug {
    -fx-border-color: "#EB6100";
}

/* OPTION ITEM */
.option-item {
	/* -fx-border-color: transparent;
	-fx-border-width: 0 0 0 2;
	-fx-padding: 0 0 0 10; */
}
.option-item .title-label {
	-fx-text-fill: #000000;
}
.option-item .text-label {
	-fx-text-fill: #555555;
}
.option-item .content-area .label,
.option-item .content-area .check-box {
	-fx-text-fill: #555555;
}

/* OPTION ITEM */
/* .option-item {
    -fx-border-color: #000000;
    -fx-border-width: 0 0 0 2;
}
.option-item:hover {
	-fx-border-color: #007ACC;
} */

/* SCROLL BAR */
.scroll-bar > .thumb {
	-fx-background-color: rgba(100, 100, 100, 0.4);
}
.scroll-bar > .thumb:hover {
	-fx-background-color: rgba(100, 100, 100, 0.5);
}
.scroll-bar > .thumb:pressed {
	-fx-background-color: rgba(100, 100, 100, 0.6);
}

/* SEPARATOR */
.separator .line {
	-fx-background-color: #888888;
}

/* SHADOW PANE */
.shadow-pane {
    -fx-background-color: transparent;
}

/* SLIDER */
.slider .label {
    -fx-text-fill: #FFFFFF;
}
.slider .track {
    -fx-background-color: #555555;
}
.slider .thumb {
    -fx-background-color: #007ACC;
}
/* .slider .thumb:focused {
    -fx-background-color: #0000FF;
} */

/* TAB ITEM */
.tab-item {
	-fx-border-color: transparent;
	-fx-border-width: 0 0 1 0;
	/* -fx-cursor: hand; */
}
.tab-item .tab-label {
	-fx-text-fill: #888888;
}
.tab-item .tab-button {
    -fx-background-color: transparent;
}
.tab-item:selected {
	-fx-background-color: #FFFFFF;
	-fx-border-color: #007ACC;
}
.tab-item:hover .tab-label,
.tab-item:selected .tab-label {
	-fx-text-fill: #000000;
}
/* .tab-item:hover .tab-button .icon, */
.tab-item:selected .tab-button .icon {
	-fx-background-color: #000000;
}

/* TAB VIEW */
.tab-view .tab-header-area {
	-fx-background-color: #F3F3F3;
}
.tab-view .tab-content-area {
	-fx-background-color: #FFFFFF;
}
/* .tab-view .tab-button-bar {
	-fx-background-color: #252526;
} */

/* TOOLTIP */
.tooltip {
	-fx-background-color: #FFFFFF;
	-fx-border-color: #555555;
	-fx-border-width: 1;
}

/* NAVI ITEM */
.navi-item:selected {
	-fx-background-color: #A6CFFF;
    -fx-border-color: transparent;
}

/* TEXT AREA */
.text-area {
	-fx-border-color: #555555;
	-fx-border-width: 1;
}
.text-area:hover,
.text-field:hover {
	-fx-border-color: #007ACC;
}

/* TEXT FIELD */
.text-field {
	-fx-border-color: #555555;
	-fx-border-width: 1;
}
.text-area:focused,
.text-field:focused {
	-fx-border-color: #007ACC;
}

/* TOAST ITEM */
.toast-item {
	-fx-background-color: #F3F3F3;
}
.toast-item .title-bar .button .icon {
	-fx-background-color: #000000;
}
/* .notice-item .title-bar .button:hover .icon {
	-fx-background-color: #007ACC;
} */
.toast-item:hover {
    -fx-background-color: #E8E8E8;
}
.toast-item:selected {
    -fx-background-color: #D6EBFF;
}

/* TOGGlE SWITCH */
.toggle-switch {
	-jfx-untoggle-color: #FFFFFF;
	-jfx-toggle-color: #007ACC;
}

/* TOAST AREA */
.toast-area .toast-box {
    -fx-background-color: #E7E7E7;
}
.toast-area .toast-box .button .icon {
    -fx-background-color: #000000;
}

/* SIDE AREA */
.side-area .tab-item {
	-fx-background-color: #F3F3F3;
	-fx-border-color: transparent;
}
.side-area .tab-view .tab-header-area {
}
.side-area .tab-view .tab-content-area {
	-fx-background-color: #F3F3F3;
}

/* DEBUG AREA */
.debug-area {
	-fx-border-color: #414141;
	-fx-border-width: 0 0 0 1;
}
.debug-area .tab-item {
	-fx-border-color: transparent;
}

/* MAIN AREA */
.main-area {
    /* -fx-background-color: #FFFFFF; */
}
.main-area > .tab-view .editor {
	-fx-border-width: 0;
}

/* TOOL AREA */
.tool-area {
    -fx-background-color: #FFFFFF;
	-fx-border-color: #414141;
    -fx-border-width: 1 0 0 0;
}
/* .tool-area .title-bar {
}
.tool-area .title-bar .label {
    -fx-border-color: #FFFFFF;
    -fx-border-width: 0 0 1 0;
} */
.tool-area .tab-item {
    -fx-border-width: 0;
}
.tool-area .tab-item .tab-label {
    -fx-border-color: transparent;
    -fx-border-width: 0 0 1 0;
}
/* .tool-area .tab-item:hover .tab-label {
} */
.tool-area .tab-item:selected .tab-label {
    -fx-border-color: #000000;
}
.tool-area .tab-view .tab-header-area {
    -fx-background-color: #FFFFFF;
}
.tool-area .editor,
.tool-area .text-area {
     -fx-border-width: 0;
}

/* STATUS BAR */
.status-bar {
	-fx-background-color: #007ACC;
}
.status-bar .label {
	-fx-text-fill: #FFFFFF;
}