/* DOCUMENT CSS */
@CHARSET "UTF-8";

@import "../default.css";

* {
    color: #333333;
}
h1 {
	color: #000000;
}
body {
	background-color: #FFFFFF;
}
a:link {
	color: #007ACC;
}
a:visited,
a:active {
	color: #007ACC;
}