
.active-area
{

}

/* Activity Bar */
.tab-header-area
{
	-fx-background-color: #333333;
}

/* Side Bar */
.tab-content-area
{
	-fx-background-color: #252526;
}

.title-pane
{
	-fx-border-color: #323232;
	-fx-border-width: 0 0 15 0;
}
.title-pane .label
{
    -fx-text-fill: #CCCCCC;
}

.tab
{
    -fx-border-color: transparent;
    -fx-border-width: 1.5 0 0 0;
    -fx-cursor: HAND;
}
.tab:selected
{
    -fx-border-color: #FFFFFF;
}

.tab .button
{
    -fx-background-position: center;
    -fx-background-size: 22;
}
.tab .button:disabled
{
    -fx-opacity: 1.0;
}

.explorer-tab .button
{
    -fx-background-image: url('../images/tab_explorer.png');
}
.explorer-tab:hover .button,
.explorer-tab:selected .button
{
    -fx-background-image: url('../images/tab_explorer_focused.png');
}

.debug-tab .button
{
    -fx-background-image: url('../images/tab_simulation.png');
}
.debug-tab:hover .button,
.debug-tab:selected .button
{
    -fx-background-image: url('../images/tab_simulation_focused.png');
}