
.active-area
{
	-fx-background-color: #3C3F41;
	-fx-border-color: #323232;
	-fx-border-width: 0 1 0 0;
}

.title-pane
{
	-fx-border-color: #323232;
	-fx-border-width: 0 0 1 0;
}
.title-pane .label
{
    -fx-text-fill: #CCCCCC;
}

.tab
{
    -fx-border-color: transparent;
    -fx-border-width: 1.5 0 0 0;
    -fx-cursor: HAND;
}
.tab:selected
{
    -fx-border-color: #FFFFFF;
}

.tab-header-area
{
	-fx-border-color: #323232;
	-fx-border-width: 0 0 1 0;
}
.tab-content-area
{
	-fx-background-color: #3E434C;
}

.tab-button
{
    -fx-background-size: 24;
    -fx-background-position: center;
}
.tab-button:disabled
{
    -fx-opacity: 1.0 ;
}

.explorer-tab .tab-button
{
    -fx-background-image: url('../images/tab_explorer.png');
}
.explorer-tab:hover .tab-button,
.explorer-tab:selected .tab-button
{
    -fx-background-image: url('../images/tab_explorer_focused.png');
}

.simulation-tab .tab-button
{
    -fx-background-image: url('../images/tab_simulation.png');
}
.simulation-tab:hover .tab-button,
.simulation-tab:selected .tab-button
{
    -fx-background-image: url('../images/tab_simulation_focused.png');
}