.active-area
{
}

.tab:hover
{
	-fx-background-color: #3C3C3C;
}
.tab:selected
{
    -fx-background-color: #252526;
}

/* Activity Bar */
.tab-header-area
{
	-fx-background-color: #323232;
}

/* Side Bar */
.tab-content-area
{
    -fx-background-color: #252526;
}

/* .activity-bar .toggle-button:selected
{
    -fx-background-color: #252526;
} */