.active-area
{
}

.bots-tab
{

}

.debug-tab
{

}

.tab:selected
{
    -fx-background-color: #252526;
}

.tab-header-background
{
	-fx-background-color: #323232;
}

.tab-content-area
{
    -fx-background-color: #252526;
}