
.side-area
{
    -fx-border-color: #414141;
    -fx-border-width: 0 0 0 1;
}

.tab
{
    -fx-border-width: 0;
}

.tab
{
	-fx-border-color: transparent;
}
/* .tab:hover
{
	-fx-background-color: #34373C;
} */
.tab:selected
{
	-fx-background-color: #1E1E1E;
}
.tab-header-area
{
	-fx-background-color: #252526;
}

.debug-tab
{
	-fx-font-family: D2Coding;
	-fx-font-size: 14;
}

.debug-tab .button,
.debug-tab .button:armed
{
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.debug-tab .list-cell
{
	-fx-padding: 15 10 15 10;
}

.debug-tab .list-cell .bot-label,
.debug-tab .list-cell .sender-label
{
	-fx-background-radius: 8;
	-fx-text-fill: #FFFFFF;
	-fx-padding: 8;
}
.debug-tab .list-cell .sender-label
{
	-fx-background-color: #0583f9;
}
.debug-tab .list-cell .bot-label
{
	-fx-background-color: #302F35;
}
.debug-tab .list-cell:selected .sender-label
{
	-fx-background-color: #59AEFF;
}
.debug-tab .list-cell:selected .bot-label
{
	-fx-background-color: #46454D;
}

.debug-tab .text-area
{
	-fx-background-radius: 15;
	-fx-background-color: transparent, #303030, transparent, #303030;
	-fx-border-width: 0;
	-fx-padding: 10;
}

.debug-tab .button
{
	-fx-background-image: url('../images/send.png');
	-fx-background-size: 60;
}