
.root-pane
{
	-fx-background-color: #252526;
	-fx-border-color: #252526;
	-fx-border-width: 1;
}

.dialog-button:hover
{
	-fx-background-color: #D61425;
}

.dialog-button:hover .glyph
{
    -fx-background-color: #FFFFFF;
}

.dialog:focused .root-pane
{
	-fx-border-color: #007ACC;
}

.dialog:focused .close-button .glyph
{
    -fx-background-color: #FFFFFF;
}