
.editor-area
{

}

.tab
{
    -fx-background-color: #2D2D2D;
	-fx-padding: 5 10 5 10;
}
.tab-header
{
	-fx-spacing: 6;
}
.tab-pane
{
    -fx-open-tab-animation: NONE;
    -fx-close-tab-animation: NONE;
}
.tab-content-area
{
    -fx-background-color: #1E1E1E;
}
.tab-header-background
{
	-fx-background-color: #252526;
}
.tab:selected
{
	-fx-background-color: #1E1E1E;
}
.tab:selected .tab-label
{
    -fx-text-fill: #FFFFFF;
}