
.editor-area
{

}

/* .start-pane .button
{
    -fx-background-image: url('../images/program_big.png');
    -fx-background-size: 350;
}
.start-pane .label *
{
    -fx-font-family: 'Roboto';
    -fx-font-weight: bold;
    -fx-font-size: 15;
}
.start-pane .major-label
{
    -fx-text-fill: #8A8A8A;
}
.start-pane .minor-label
{
    -fx-text-fill: #589DF6;
} */

.split-pane-divider
{
    -fx-background-color: #3C3C3C;
    -fx-padding: 0 1 0 1;
}

.tab
{
	-fx-background-color: #2D2D2D;
    -fx-border-color: transparent;
    -fx-border-width: 3 0 3 0;
}
.tab-header
{
	-fx-padding: 0 14 0 14;
}
.tab-close-button
{
    -fx-background-color: transparent;
	-fx-background-image: url('../images/close.png');
	-fx-background-size: 10;
    -fx-border-width: 0;
}
.tab-close-button:hover
{
	-fx-background-image: url('../images/close_hover.png');
}
.tab-content-area
{
	-fx-background-color: #1E1E1E;
}
.tab-header-background
{
	-fx-background-color: #252526;
}
/* .tab-header-background:hover
{
    -fx-background-color: #3C3F42;
} */

.tab-button-bar
{
    -fx-background-color: #252526;
}
.tab-button-bar .button
{
    -fx-background-color: transparent;
    -fx-border-width: 0;
}
.tab-button-bar .button:hover
{
	-fx-background-color: rgba(255, 255, 255, 0.05);
}
.tab-button-bar .button:armed,
.tab-button-bar .button:showing
{
	-fx-background-color: rgba(255, 255, 255, 0.1);
}

.tab-button-bar .tab-split-button
{
    -fx-background-image: url('../images/split_white.png');
    -fx-background-size: 14;
}
.tab-button-bar .tab-more-button
{
    -fx-background-image: url('../images/more_white.png');
    -fx-background-size: 14;
}

.tab:hover
{
    -fx-background-color: #3C3C3C;
}
.tab:selected
{
	-fx-background-color: #1E1E1E;
    -fx-border-color: #007ACC transparent transparent transparent;
}
.tab:selected .tab-header-label
{
	-fx-text-fill: #FFFFFF;
}
.tab:selected .tab-close-button
{
	-fx-background-image: url('../images/close_focused.png');
}
/* .tab:drag:hover
{
    -fx-background-color: #3C3F42;
} */

.styled-text-area *
{
    -fx-background-color: #1E1E1E;
	-fx-font-family: Consolas;
	-fx-font-size: 15;
}
.caret
{
	/* -fx-stroke-width: 2; */
	-fx-stroke-width: 3;
	-fx-stroke: #ADAEAC;
}
.lineno
{
	-fx-pref-width: 70;
	-fx-pref-height: 50;
	-fx-padding: 0 12 0 0;
    -fx-cursor: default;
}
.lineno .text
{
	-fx-fill: #848484;
}
.paragraph-text .text
{
	-fx-fill: #D4D4D4;
}
.paragraph-box .selection
{
	-fx-fill: #264E77;
}
.paragraph-box:has-caret *,
.paragraph-box:has-caret .lineno
{
	-fx-background-color: #262626;
}
.paragraph-box:has-caret .lineno .text
{
	-fx-fill: #A4A3A3;
}
.paragraph-text .text.keyword { -fx-fill: #499CD5; }
.paragraph-text .text.semicolon { }
.paragraph-text .text.paren { }
.paragraph-text .text.bracket { }
.paragraph-text .text.brace { }
.paragraph-text .text.string { -fx-fill: #CD9069; }
.paragraph-text .text.comment { -fx-fill: #699856; }