
.editor-area
{
    /* -fx-background-color: #1E1E1E; */
}

.tab-header-area
{
	-fx-background-color: #252526;
}
.tab-content-area
{
	-fx-background-color: #1E1E1E;
}

/* .tab:drag:hover
{
	-fx-background-color: #3C3F42;
} */