.setting-tab
{
}

.text-field
{
	-fx-font-size: 15;
}

.tab
{
	-fx-background-color: transparent;
	-fx-border-width: 0 0 1 0;
	-fx-cursor: hand;
}
.tab:hover
{
	-fx-background-color: transparent;
	/* -fx-border-color: #888888; */
}
.tab:selected
{
	-fx-border-color: #FFFFFF;
}

.tab-header-area
{
	-fx-background-color: #1E1E1E;
	/* -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 10); */
}

.option-item:selected
{
	-fx-background-color: #323233;
}

.option-header-area
{
	-fx-border-width: 0 1 0 0;
	-fx-border-color: #888888;
}

.option-content-area
{
    -fx-font-family: D2Coding;
	-fx-font-size: 14;
}

/* .code-area:focused
{
    -fx-border-color: #007ACC;
} */

.button, .check-box, .label
{
    -fx-text-fill: #888888;
}

.title-label
{
    -fx-text-fill: #FFFFFF;
}