
.tab
{
    -fx-font-size: 15;
}

.tab
{
    -fx-border-width: 0 1 0 0;
}
.tab:hover
{
    -fx-background-color: transparent;
    -fx-border-color: #888888;
}
.tab:selected
{
    -fx-border-color: #FFFFFF;
}

.tab-header-area
{
	-fx-background-color: #1E1E1E;
}

.tab-content-area
{
	-fx-background-color: #1E1E1E;
}