
.menu-bar
{
    -fx-background-color: #3C3F41;
	-fx-border-color: #323232;
	-fx-border-width: 0 0 1 0;
}
.menu-button
{
    -fx-padding: 4 8 4 8;
}
.menu-button:showing
{
	-fx-background-color: #4B6EAF;
}