/* DOCUMENT CSS */
* {
    font-weight: normal;
    font-family: Roboto, NanumGothic, sans-serif;
    font-weight: normal;
    color: #CCCCCC;
}

h1 {
	font-weight: bold;
	color: #FFFFFF;
}
h2 {
	font-weight: normal;
}
h3 {
	font-weight: normal;
}
h4 {
	font-weight: normal;
}

p {
	line-height: normal;
}
body {
	background-color: #1E1E1E;
}
a:link {
    text-decoration: none;
	color: #007ACC;
}
a:visited,
a:active {
	text-decoration: none;
	color: #007ACC;
}