.side-bar
{
	-fx-background-color: #252526;
}

.separator
{
    -fx-background-color: #3C3C3C;
}

.title-pane
{
	/* -fx-background-color: #3C3C3C; */
}
.title-pane .label
{
	-fx-text-fill: #FFFFFF;
}
.title-pane .button
{
	-fx-background-size: 14;
}
.title-pane .button:hover
{
	-fx-background-color: rgba(255, 255, 255, 0.05);
}
.title-pane .button:armed
{
	-fx-background-color: rgba(255, 255, 255, 0.1);
}

.title-pane .option-button
{
	-fx-background-image: url('../images/setting_white.png');
	-fx-background-size: 16;
}
.title-pane .chat-button
{
	-fx-background-image: url('../images/chat_white.png');
}
.title-pane .reload-button
{
	-fx-background-image: url('../images/reload_white.png');
}
.title-pane .log-button
{
	-fx-background-image: url('../images/log_white.png');
}

.explorer-part .list-item
{
	-fx-cursor: hand;
}
.explorer-part .list-item:hover
{
	-fx-background-color: #2A2D2E;
}
.explorer-part .list-cell .label
{
	-fx-font-size: 14;
}
.explorer-part .list-cell .button
{
	-fx-background-radius: 16;
	-fx-background-image: url('../images/reload.png');
	-fx-background-size: 15;
}
.explorer-part .list-cell .button:hover
{
	-fx-background-image: url('../images/reload_focused.png');
	-fx-background-color: rgba(255, 255, 255, 0.1);
}
.explorer-part .list-cell .button:armed
{
	-fx-background-color: rgba(255, 255, 255, 0.15);
}
.explorer-part .list-cell .check-box .box
{
	-fx-background-radius: 10;
	-fx-background-color: #BBBBBB;
	-fx-border-width: 0;
	-fx-padding: 3;
}
.explorer-part .list-cell .check-box .mark
{
	-fx-padding: 0;
}
.explorer-part .list-cell .check-box:selected .box
{
	-fx-background-color: transparent;
}
.explorer-part .list-cell .jfx-toggle-button
{
	-jfx-size: 6;
}
.explorer-part .list-cell:selected .label
{
	-fx-text-fill: #FFFFFF;
}
.explorer-part .list-cell:selected .button
{
	-fx-background-image: url('../images/reload_focused.png');
}
.explorer-part .list-cell:selected .check-box .box
{
	-fx-background-color: #FFFFFF;
}
.explorer-part .list-cell:selected .check-box:selected .box
{
	-fx-background-color: transparent;
}
.explorer-part .list-cell:selected .jfx-toggle-button
{
	-jfx-untoggle-color: #FFFFFF;
}
.explorer-part .list-cell:selected .list-item
{
	-fx-background-color: #094771;
}

.debug-part .content-area .label
{
	-fx-text-fill: #CCCCCC;
	-fx-font-size: 13;
}