
.side-bar
{
	-fx-background-color: #252526;
}

.title-pane
{
	-fx-border-color: #323232;
	-fx-border-width: 0 0 15 0;
}
.title-label
{
	-fx-text-fill: #CCCCCC;
}

.option-button
{
    -fx-background-radius: 5;
    -fx-background-image: url('../images/setting.png');
    -fx-background-size: 20;
}
.option-button:hover
{
	-fx-background-color: rgba(255, 255, 255, 0.05);
}
.option-button:armed
{
	-fx-background-color: rgba(255, 255, 255, 0.1);
}

.debug-part .button
{
	-fx-background-color: #0E639C;
	-fx-text-fill: #FFFFFF;
	-fx-cursor: hand;
}
.debug-part .button.button:hover
{
	-fx-background-color: #1177BB;
}

/* Explorer Part */
.list-item
{
	-fx-cursor: HAND;
}
.list-cell .label *
{
	-fx-font-size: 15;
}
.list-cell .button
{
	-fx-background-radius: 15;
	-fx-background-image: url('../images/reload.png');
	-fx-background-size: 17;
}
.list-cell .button:hover
{
	-fx-background-color: rgba(255, 255, 255, 0.1);
}
.list-cell .button:armed
{
	-fx-background-color: rgba(255, 255, 255, 0.2);
}
.list-cell .check-box .box
{
	-fx-background-radius: 10;
	-fx-background-color: #BBBBBB;
	-fx-padding: 4;
}
.list-cell .check-box .mark
{
	-fx-padding: 0;
}
.list-cell .jfx-toggle-button
{
	-jfx-toggle-color: #007ACC;
	-jfx-untoggle-color: #BBBBBB;
	-jfx-size: 6.5;
}
.list-cell:selected
{
	-fx-background-color: #094771;
}
.list-cell:selected .label
{
	-fx-text-fill: #FFFFFF;
}
.list-cell:selected .button
{
	-fx-background-image: url('../images/reload_focused.png');
}
.list-cell:selected .check-box .box
{
	-fx-background-color: #FFFFFF;
}
.list-cell:selected .jfx-toggle-button
{
	-jfx-untoggle-color: #FFFFFF;
}