/* .toast-area
{
    -fx-background-color: transparent;
}

.toast-view
{

}

.toast-message
{
	-fx-background-color: #252526;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.toast-message .label
{
    -fx-font-size: 20;
} */