
.shadow-pane
{

}

.root-pane
{
    -fx-border-width: 1;
}

.title-bar .button
{
	-fx-cursor: default;
}

.button-bar .button:hover .glyph
{
    -fx-background-color: #FFFFFF;
}

.minimize-button:hover
{
	-fx-background-color: #505050;
}
.maximize-button:hover
{
	-fx-background-color: #505050;
}
.close-button:hover
{
	-fx-background-color: #D61425;
}

.window:focused .button-bar .glyph
{
    -fx-background-color: #FFFFFF;
}

.window
{
    -fx-padding: 5.0;
}

.window:maximized
{
    -fx-padding: 0.0;
}

.window:maximized .root-pane
{
	-fx-border-width: 0;
}

/* Main */

.main .root-pane
{
    -fx-background-color: #323233;
    -fx-border-color: #434346;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0.4, 0, 0);
}

.window:focused .main .root-pane
{
    -fx-border-color: #007ACC;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 122, 204, 0.5), 10, 0.4, 0, 0);
}

/* Dialog */

.dialog .root-pane
{
    -fx-border-color: #252526;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0.5, 0, 0);
}

.window:focused .dialog .root-pane
{
    -fx-border-color: #898989;
}