
.title-bar .button
{
	-fx-cursor: default;
}

.button-bar .button:hover .glyph
{
    -fx-background-color: #FFFFFF;
}

.minimize-button:hover
{
	-fx-background-color: #505050;
}
.maximize-button:hover
{
	-fx-background-color: #505050;
}
.close-button:hover
{
	-fx-background-color: #D61425;
}

.window:focused .button-bar .glyph
{
    -fx-background-color: #FFFFFF;
}

.window:maximized .root-pane
{
	-fx-border-width: 0;
}