
.root-pane
{
	-fx-background-color: #3C3C3C;
}
.title-label
{
	-fx-text-fill: #737373;
}
.close-button
{
	-fx-background-image: url('/images/close_inactive.png');
	-fx-background-size: 12;
}
.close-button:hover
{
    -fx-background-image: url('/images/close_hover.png');
	-fx-background-color: #D61425;
}
.window:focused .title-label
{
	-fx-text-fill: #BBBBBB;
}
.window:focused .close-button
{
    -fx-background-image: url('/images/close_active.png');
}